.image-input {
  padding: 15px;
  background: #fff;
  color: #d5d6d7;
  text-align: center;
  width: 100%;
}

.attach-icon {
  width: 22px;
  height: 25px;
  margin: 0 auto 8px;
}

.attach-message {
  padding: 0 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
